# Copiá este archivo a .env y completá los valores

PRINTER_IP=192.168.1.XX
SERIAL_NUMBER=01P00CXXXXXXXX
ACCESS_CODE=XXXXXXXX

PHONE_IP=192.168.1.YY
MACRODROID_PORT=8080
MACRODROID_PATH=/timelapse

LAYER_DELAY_SEC=1.5
